:root {
  --font-family-mono: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --code-font-family: var(--font-family-mono);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
  border: .1px solid transparent;
  --text-color: #303133;
}